@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
	color:#413960;
}
p{
	color: #6C6B6B;
	font-weight: 400;
}
header{
background-color: #F0FFF0;
}
header > .container{
	padding: 6rem 0;
}
.navbar-brand img{
	width: 200px;
}

.navbar-expand-lg .navbar-nav .nav-link{
color: #000;
font-size: 16px;
text-transform: capitalize;
border-radius: 30px;
padding: 12px 28px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
background: #21B573;
color: #fff;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
   background: #21B573;
color: #fff;
}
.banner_content{

}

.banner_content span{
color: #FD511A;
}
.banner_content h1{
font-weight: 700;
font-size: 3rem;
line-height: 70px;
color: #000;
max-width:425px;
}
.banner_content h1 strong{
color: #21B573;
font-weight: 700;
}
.btn-custom{
	/*font-size: 20px;*/
	background-color: #21B573;
	border-radius: 20px;
	padding: 12px 28px 12px 28px;
	color: white;
}
.btn-custom:hover{
color: #21B573;
background-color: white;
}
section{
	padding: 80px 0;
}
.feature{ 
	background: #F8FFFB; 
	text-align: center;
	padding: 30px 15px;
	border-radius: 10px;
	transition: all 1s;
/*	box-shadow: 5px 5px 5px 5px #41396052;*/

 }
 .feature:hover{
 	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
 	background-color: white;	
 }
.feature img{
	height: 90px;
}
.feature h2 {
	color:#413960;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	margin: 10px 0;
}
.feature p{}
.header{
text-align: center;
}
.header h1{
margin-bottom: 40px;
font-size: 36px;
font-weight: 700;
line-height: 54px;
}

.courses{
font-weight: 500;
padding: 20px;
background: #FFFFFF;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
border-radius: 18px;
}
.courses:hover{
box-shadow: -0px -10px 30px rgba(0, 0, 0, 0.1);	
}
.courses h2{

font-size: 24px;
line-height: 36px;
}
.courses button{
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 5px 0;
}
.courses span{
	line-height: 24px;
}
footer{
padding: 50px 0;
background-color: #282531;
color: white;
}
footer p{
	color: white;
	line-height: 30px;
}
footer ul{
}
footer ul li{
list-style: none;
}
footer ul li a {

	text-decoration: none;
	color: white;
}
footer ul li a:hover{
color: #21B573;
}
.copyright{
	text-align: center;
	font-size: 14px;
}